<p id="notice"><%= notice %></p>

<h1>Businesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Zip</th>
      <th>Location</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>Business start date</th>
      <th>Receipts over 10000</th>
      <th>Number regular employees</th>
      <th>Number part time employees</th>
      <th>Tax status</th>
      <th>Type</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.address %></td>
        <td><%= business.zip %></td>
        <td><%= business.location %></td>
        <td><%= business.phone %></td>
        <td><%= business.fax %></td>
        <td><%= business.email %></td>
        <td><%= business.business_start_date %></td>
        <td><%= business.receipts_over_10000 %></td>
        <td><%= business.number_regular_employees %></td>
        <td><%= business.number_part_time_employees %></td>
        <td><%= business.tax_status %></td>
        <td><%= business.type %></td>
        <td><%= business.active %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
