<%= form_with(model: applicant, local: true) do |form| %>
  <% if applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :applicant_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :applicant_address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :applicant_phone %>
  </div>

  <div class="field">
    <%= form.label :fax %>
    <%= form.text_field :fax, id: :applicant_fax %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :applicant_email %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.text_field :active, id: :applicant_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
